.voicechat-tile {
    position: relative;
    height: 100%;
    width: 100%;
    &.voicechat-transition {
        transition: background-color 0.1s;
    }

    .video-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;

        video {
            border-radius: 1rem;
        }
    }

    .video-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        .overlay-container {
            position: relative;
            width: 100%;
            height: 100%;
            .overlay-avatar {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .overlay-avatar-large {
                width: 75px;
                height: 75px;
            }
            .voicechat-button {
                &.voicechat-button-high {
                    color: green; /* consider mapping to token */
                }
                &.voicechat-button-normal {
                    color: var(--dc-white);
                }
            }
            .voicechat-iconbutton {
                color: var(--dc-white);
                border: solid 1px var(--dc-divider);
            }
            .overlay-bottom {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0%);

                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                div {
                    margin: 0.5rem;
                }
            }
        }
    }
}
