.voice-control-container {
	display: flex;
	align-items: center;
	margin-top: auto;
	background: #232428;
	padding: 0.5rem;
	font-size: 0.75rem;
	-webkit-box-align: center;
	margin-bottom: auto;
	flex-direction: column;

	.voice-control-upper {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.voice-control-details {
			display: flex;
			flex-direction: column;
			padding-bottom: 4px;
			padding-top: 4px;
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			// flex-grow: 1;
			margin-right: 4px;
			min-width: 0;
			font-size: 8px;

			.voice-control-status {
				display: flex;
			}
		}
		.voice-control-disconnected {
		}
	}

	.voice-control-lower {
		// padding-left: 8px;
		padding: 0.25rem;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		// flex-grow: 1;
		min-width: 0;

		.voice-control-buttons {
			display: flex;
			justify-content: space-around;
	
			.voice-control-button {
				padding: 0 2px 0 2px;
			}
		}
	}

}
