.friend-conversation-item {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	border-color: transparent;
	margin: 1px 0 1px 0;

	&:hover {
		background-color: #3d3f44;
		border-radius: 4px;
	}
}
