@font-face {
    font-family: "gg sans";
    src: url("/assets/fonts/ggsans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("/assets/fonts/ggsans-SemiboldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("/assets/fonts/ggsans-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "gg sans Normal";
    src: url("/assets/fonts/ggsans-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("/assets/fonts/ggsans-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("/assets/fonts/ggsans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("/assets/fonts/ggsans-ExtraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("/assets/fonts/ggsans-ExtraBoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "gg sans Normal";
    src: url("/assets/fonts/ggsans-Normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans Normal";
    src: url("/assets/fonts/ggsans-NormalItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
