@import "../App.scss";

.voice-control-container {
	display: flex;
	align-items: center;
	margin-top: auto;
	background: #232428;
	padding: 0 8px;
	font-size: 14px;
	height: 52px;
	-webkit-box-align: center;
	margin-bottom: 1px;

	.voice-control-profile {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-left: -2px;
		min-width: 120px;
		padding-left: 2px;
		margin-right: 8px;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background: lighten(#232428, 2.5%);
		}

		.voice-control-details {
			padding-bottom: 4px;
			padding-left: 8px;
			padding-top: 4px;
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			user-select: text;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			margin-right: 4px;
			min-width: 0;
		}
	}

	.voice-control-controls {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		flex: 0 1 auto;

		.voice-control-button {
			padding: 0 2px 0 2px;
		}
	}
}

.user-detail-paper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	border-radius: 8px 8px 0 0;

	.user-detail-top {
		.user-detail-banner {
			min-width: 340px;
			min-height: 60px;
			height: 60px;
			width: 100%;

			mask {
				rect {
					fill: white;
					x: 0;
					y: 0;
					width: 100%;
					height: 100%;
				}

				circle {
					fill: black;
					cx: 62;
					cy: 56;
					r: 46;
				}
			}

			foreignObject {
				x: 0;
				y: 0;
				width: 100%;
				height: 100%;
				mask: url(#uid_347);
				overflow: visible;
				display: block;

				:not(svg) {
					transform-origin: 0px 0px;
				}
			}
		}
		.user-detail-avatar {
			position: absolute;
			z-index: 0;
			left: 22px;
			top: 16px;
			cursor: pointer;
		}
	}

	.user-detail-list {
		position: relative;
		border-radius: 8px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		overflow: hidden;
		margin: 48px 16px 16px 16px;
		padding: 4px 0 4px 0;
		max-height: calc(100vh - 128px);
	}
}
