// SERVERS
.servers {
    height: 100%;
    background: var(--servers-bg);
    flex: 0 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 18px 0 18px 0;

    // no scrollbar
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

// mobile behavior handled by discord-mobile.scss and adapter

// SERVER
.server {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--servers-bg);
    background-repeat: no-repeat;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;

    transition:
        background-color 0.2s ease,
        border-radius 0.2s ease;

    &:hover,
    &:focus {
        background-color: var(--server-bg-active);
        border-radius: 15px;
    }

    .transformDown {
        transform: translateX(2px);
    }

    .server-icon {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .server-icon > img,
    .server-icon > svg {
        border-radius: inherit;
        max-width: 100%;
        max-height: 100%;
    }

    .server-divider {
        background-color: var(--dc-divider);
        margin: 8px;
        border-radius: 1px;
        height: 2px;
    }

    .tooltip-text {
        margin: 0.5rem;
    }

    .server-action-button {
        all: unset;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: transparent;
        color: inherit;
        cursor: pointer;
        transition: color 0.2s ease;
        box-sizing: border-box;
    }

    .server-action-button:hover {
        color: var(--body-color);
    }

    .server-add-button {
        color: var(--success);
    }

    .server-explore-button {
        color: var(--primary-color);
    }

    &.server-friends {
        text-align: center;
        // unread/active
        &::before {
            position: absolute;
            top: 20px;
            left: -15px;
            content: " ";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 25px;
        }

        &.active {
            border-radius: 15px;
            background-color: $server-bg-active;
        }

        &.unread::before {
            background: var(--server-marker-unread);
        }

        &.active::before {
            background: $server-marker-active;
            height: 40px;
            top: 5px;
        }

        &.active.unread::before {
            transition: all 0.2s ease-in-out;
        }
    }

    // unread/active
    &::before {
        position: absolute;
        top: 20px;
        left: -15px;
        content: " ";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 25px;
        transition:
            background 0.2s ease,
            height 0.2s ease,
            top 0.2s ease;
    }

    &.active {
        border-radius: 15px;
        background-color: var(--server-bg-active);
    }

    &:hover {
        &::before {
            background: var(--server-marker-active);
            height: 30px;
            top: 10px;
        }
    }

    &.unread::before {
        background: var(--server-marker-unread);
    }

    &.active::before {
        background: $server-marker-active;
        height: 40px;
        top: 5px;
    }

    &.active.unread::before {
        transition: all 0.2s ease-in-out;
    }
}

// BUTTON
.button {
    background: var(--button-bg);
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    appearance: none;
    user-select: none;

    > svg,
    > img {
        max-width: 100%;
        max-height: 100%;
    }
}

.button-group {
    .button:focus,
    .button:active {
        background: var(--button-secondary-background-hover);
    }

    .button:not(:last-of-type) {
        border-right: 1px solid var(--border-accent);
    }

    .button + .button {
        box-shadow: inset 1px 0 0 var(--border-accent);
    }
}

// ICONS
svg[id] {
    width: 0;
    position: absolute;
}

// ANIMATIONS
@keyframes server-hover-in {
    0% {
        border-radius: 25px;
        background-color: var(--servers-bg);
    }

    40% {
        border-radius: 12px;
    }

    70% {
        border-radius: 16.7px;
    }

    80% {
        background-color: var(--server-bg-active);
    }

    100% {
        border-radius: 15px;
        background-color: var(--servers-bg);
    }
}

@keyframes server-hover-out {
    0% {
        border-radius: 15px;
        background-color: var(--server-bg-active);
    }

    45% {
        border-radius: 25px;
        background-color: var(--servers-bg);
    }

    65% {
        border-radius: 25px;
    }

    75% {
        border-radius: 23.5px;
    }

    100% {
        border-radius: 25px;
    }
}
