@import "../App.scss";

.voicechat-container {
	background: #121212;
	min-width: 0;
	min-height: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	&:hover {
		.voicechat-control {
			transition: all 0.5s;
			opacity: 1;
		}
	}

	.voicechat-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		z-index: 2;
		height: 100%;

		.callContainer {
			-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			overflow: hidden;

			.root {
				height: 100%;
				width: 100%;
				position: relative;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;

				.videoGridWrapper {
					-ms-flex-item-align: stretch;
					align-self: stretch;

					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					-ms-flex-direction: row;
					flex-direction: row;

					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;

					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;

					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;

					-ms-flex-wrap: nowrap;
					flex-wrap: nowrap;

					flex: 1 1 auto;

					.voicechat-list {
						inset: 5% 0px 5% 8px;
						contain: layout;
						position: absolute;
						width: 100%;
						height: 100%;
						overflow: hidden;

						display: grid;
						grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

						.tile {
							margin-right: 8px;
							margin-bottom: 8px;
							border-radius: 8px;
							overflow: hidden;
							width: 100%;
							height: 100%;
							background

							.outer {
								position: relative;
								width: 100%;
								padding-top: 56.25%;

								.inner {
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;

									.wrapper-tile {
										display: -webkit-box;
										display: -ms-flexbox;
										display: flex;
										position: relative;
										height: 100%;

										.tile-idle {
											display: -webkit-box;
											display: -ms-flexbox;
											display: flex;
											-webkit-box-flex: 1;
											-ms-flex: 1 1 100%;
											flex: 1 1 100%;
											position: relative;
											cursor: pointer;

											position: relative;
											background-color: var(--primary-700);
											border-radius: 8px;
											-webkit-box-sizing: border-box;
											box-sizing: border-box;
											overflow: hidden;
										}
									}
								}
							}
						}
					}

					.voicechat-tile video {
						width: 100%;
						height: 100%;
						display: block;
						position: relative;
						left: 0;
						top: 0;
						opacity: 1;
						object-fit: cover;
					}

					.voicechat-tile:before {
						content: "";
						position: absolute;
						background: rgba(0, 0, 0, 0.5);
						border-radius: 8px;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}

					.tileChild {
						-webkit-box-flex: 1;
						-ms-flex: 1 1 100%;
						flex: 1 1 100%;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;

						.videoWrapper {
							position: relative;
							overflow: hidden;
							width: 100%;
							height: 100%;
						}

						.overlayContainer {
							position: absolute;
							left: 0;
							right: 0;
							bottom: 0;
							top: 0;
							margin: 8px;
							-webkit-transition: opacity 0.2s ease-in-out;
							transition: opacity 0.2s ease-in-out;

							.overlayTop {
								left: 0;
								display: inline-block;
							}

							.overlayBottom {
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								-webkit-box-pack: justify;
								-ms-flex-pack: justify;
								justify-content: space-between;
								line-height: 0;
								pointer-events: none;

								.overlayTitle {
									border-radius: 8px;
									padding: 6px 12px;
									-webkit-box-flex: 0;
									-ms-flex: 0 1 auto;
									flex: 0 1 auto;
									margin-right: 8px;
									display: -webkit-box;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-align: center;
									-ms-flex-align: center;
									align-items: center;
									min-width: 0;
								}

								.statusContainer {
									-webkit-box-flex: 0;
									-ms-flex: 0 0 auto;
									flex: 0 0 auto;
									display: -webkit-box;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-align: center;
									-ms-flex-align: center;
									align-items: center;
								}
							}
						}
					}
				}
			}

			.voicechat-control {
				pointer-events: none;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 0 16px 16px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				z-index: 1;
				opacity: 0;

				.gradient-top {
					flex: 0 0 57px;
					padding: 0 20px 0 20px;
					background: transparent;
					border-bottom: 1px solid darken($menu-bg, 2.5%);
					align-items: center;
					box-shadow: 0 1px 0 darken($channels-bg, 4.1%),
						inset 0 -1px 0 rgba(#000, 0.1);
					transition: background 0.15s ease;

					position: relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					min-width: 0;
					width: 100%;
					-webkit-box-flex: 0;
					-ms-flex: 0 0 auto;
					// flex: 0 0 auto;
					// height: 48px;
					// padding: 0 8px;
					font-size: 16px;
					line-height: 20px;
					cursor: default;

					.voicechat-header-title {
						position: relative;
						-webkit-box-flex: 1;
						-ms-flex: 1 1 auto;
						flex: 1 1 auto;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						min-width: 0;
						overflow: hidden;
					}
				}

				.gradient-bottom {
					flex: 0 0 57px;
					padding: 0 20px 0 20px;
					background: transparent;
					border-bottom: 1px solid #2b2d31;
					align-items: center;
					box-shadow: 0 1px 0 #212326, inset 0 -1px 0 rgba(0, 0, 0, 0.1);
					transition: background 0.15s ease;
					position: relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					min-width: 0;
					width: 100%;
					-webkit-box-flex: 0;
					-ms-flex: 0 0 auto;
					font-size: 16px;
					line-height: 20px;
					cursor: default;
				}
			}
		}
	}
}
