@import "../App.scss";

.voicechat-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	background: #121212;

	&:hover {
		.voicechat-header {
			transition: all 0.5s;
			opacity: 1;
		}
		.voicechat-footer {
			transition: all 0.5s;
			opacity: 1;
		}
	}

	.voicechat-header {
		opacity: 0;
		flex: 0 0 57px;
		padding: 0 20px 0 20px;
		background: transparent;
		border-bottom: 1px solid darken($menu-bg, 2.5%);
		align-items: center;
		box-shadow: 0 1px 0 darken($channels-bg, 4.1%),
			inset 0 -1px 0 rgba(#000, 0.1);
		transition: background 0.15s ease;

		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		min-width: 0;
		width: 100%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		// flex: 0 0 auto;
		// height: 48px;
		// padding: 0 8px;
		font-size: 16px;
		line-height: 20px;
		cursor: default;

		.voicechat-header-title {
			position: relative;
			-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			min-width: 0;
			overflow: hidden;
		}
	}

	.voicechat-content {
		height: 100%;
		height: 100%;
		width: 100%;
		margin-top: -57px;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		.voicechat-list {
			inset: 64px 0px 56px 8px;
			contain: layout;
			position: absolute;
			display: grid;
			grid-template-columns: minmax(0, 1fr);

			// .voicechat-tile {
			// 	position: relative;
			// 	width: 500px;
			// 	margin: 0 auto;
			// 	padding: 20px;

			// 	width: 100%;
			// 	height: 100%;
			// 	display: -webkit-box;
			// 	display: -ms-flexbox;
			// 	display: flex;
			// 	-ms-flex-wrap: nowrap;
			// 	flex-wrap: nowrap;
			// 	-webkit-box-pack: center;
			// 	-ms-flex-pack: center;
			// 	justify-content: center;
			// 	-webkit-box-align: center;
			// 	-ms-flex-align: center;
			// 	align-items: center;
			// }

			.voicechat-tile {
				position: relative;
				max-width: 1024px;
				max-height: 768px;
				margin: 0 auto;
				border-radius: 8px;
				overflow: hidden;
			}
			.voicechat-tile video {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				left: 0;
				top: 0;
				opacity: 1;
			}

			.voicechat-tile:before {
				content: "";
				position: absolute;
				background: rgba(0, 0, 0, 0.5);
				border-radius: 8px;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
	}
}
