@import "../../App.scss";

.friend-main-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	background: $chat-bg;

	.friend-main-header {
		flex: 0 0 57px;
		padding: 0 20px 0 20px;
		background: $menu-bg;
		border-bottom: 1px solid darken($menu-bg, 2.5%);
		display: flex;
		align-items: center;
		box-shadow: 0 1px 0 darken($channels-bg, 4.1%),
			inset 0 -1px 0 rgba(#000, 0.1);
		transition: background 0.15s ease;

		.friend-main-header-name {
			display: flex;
			font-weight: normal;
			font-size: 1.3rem;
			letter-spacing: 0.05rem;
			align-items: center;

			.friend-main-header-hashtag {
				font-size: 1.2rem;
				font-weight: 300;
			}
		}

		.friend-main-header-feature {
			margin-left: auto;
		}

		.signin {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			min-width: 0;

			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}

	.content::before {
		content: "";
		position: absolute;
		display: block;
		top: -1px;
		left: 0;
		right: 0;
		height: 1px;
		-webkit-box-shadow: var(--elevation-low);
		box-shadow: var(--elevation-low);
		z-index: 1;
		pointer-events: none;
	}

	.content {
		min-width: 0;
		min-height: 0;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: stretch;
		-ms-flex-pack: stretch;
		justify-content: stretch;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		position: relative;
		color: hsl(240, 2%, 88%);

		.friend-main-content {
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			min-width: 0;
			min-height: 0;
			-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			background: var(--bg-overlay-friend-main, var(--background-primary));

			.messageWrapper {
				position: relative;
				-webkit-box-flex: 1;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				min-height: 0;
				min-width: 0;
				z-index: 0;

				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;

				.scroller {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;

					box-sizing: border-box;
					min-height: 0;
					-webkit-box-flex: 1;
					flex: 1 1 auto;

					overflow-y: scroll;
					overflow-x: hidden;
					overflow-anchor: none;

					.scroller-content {
						position: relative;
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						-ms-flex-direction: column;
						flex-direction: column;
						-webkit-box-pack: end;
						-ms-flex-pack: end;
						justify-content: flex-end;
						-webkit-box-align: stretch;
						-ms-flex-align: stretch;
						align-items: stretch;
						min-height: 100%;

						.scrollerInner {
							min-height: 0;

							list-style: none;

							display: block;
							list-style-type: decimal;
							margin-block-start: 1em;
							margin-block-end: 1em;
							margin-inline-start: 0px;
							margin-inline-end: 0px;
							padding-inline-start: 40px;
							color: hsl(240, 2%, 88%);

							.message {
								position: relative;
								outline: none;
								color: hsl(240, 2%, 88%);
							}

							.scrollerSpacer {
								display: block;
								height: 30px;
								width: 1px;
								-webkit-box-flex: 0;
								-ms-flex: 0 0 auto;
								flex: 0 0 auto;
								pointer-events: none;
								color: hsl(240, 2%, 88%);
							}
						}
					}
				}
			}
		}
	}
}

.userSidebar-container {
	position: relative;
	width: 340px;
	height: 100%;
	background-color: #2b2d31;

	.userSidebar-memberlist-wrapper {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: relative;
		max-height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		.userSidebar-memberlist {
			width: 340px;
			padding: 0 12px 12px;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			height: auto;
		}
	}
}

.userSidebar-detail-paper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	border-radius: 8px 8px 0 0;

	.userSidebar-detail-top {
		.userSidebar-detail-banner {
			min-width: 340px;
			min-height: 60px;
			width: 100%;

			mask {
				rect {
					fill: white;
					x: 0;
					y: 0;
					width: 100%;
					height: 100%;
				}

				circle {
					fill: black;
					cx: 62;
					cy: 56;
					r: 46;
				}
			}

			foreignObject {
				x: 0;
				y: 0;
				width: 100%;
				height: 100%;
				mask: url(#uid_347);
				overflow: visible;
				display: block;

				:not(svg) {
					transform-origin: 0px 0px;
				}
			}
		}

		.userSidebar-detail-avatar {
			position: absolute;
			z-index: 0;
			left: 22px;
			top: 16px;
			cursor: pointer;
		}
	}

	.userSidebar-detail-list {
		position: relative;
		border-radius: 8px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		overflow: hidden;

		margin: 16px;
		padding: 0 12px 12px;
		background-color: #111214;
	}
}
