@import "../App.scss";

.friend-container {
	background: $channels-bg;
	display: flex;
	flex-direction: column;
	flex: 0 0 240px;

	.friend-header {
		cursor: pointer;
		display: flex;
		align-items: center;
		flex: 0 0 56px;
		padding: 0 10px 0 10px;
		box-shadow: 0 1px 0 darken($channels-bg, 4.1%),
			inset 0 -1px 0 rgba(#000, 0.1);
		transition: background 0.15s ease;
		border-radius: 8px;

		.form-style {
			position: relative;
			height: 40px;
			padding: 5px;
			width: 100%;
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.5px;
			color: #c4c3ca;
			background-color: #1e1f22;
			border: 1px solid #282a2e;
			border-radius: 3px;
			outline: none;
			-webkit-transition: all 200ms linear;
			transition: border-color 0.2s ease-in-out;
		}

		.friend-header-dropdown {
			width: 18px;
			height: 18px;
			margin-left: auto;

			// use {
			// 	stroke-dasharray: 7;
			// 	transform-origin: 50%;
			// 	transition: stroke-dasharray 0.2s ease, transform 0.2s ease;
			// }
		}

		// &:focus use {
		// 	stroke-dasharray: 14;
		// 	transform: rotate(-90deg);
		// }

		.friend-header-name {
			font-size: 1rem;
			font-weight: 500;
		}
	}

	.friend-menu-container {
		flex: 1 1;
		overflow-y: auto;
		padding: 0 10px;

		ul {
			list-style: none;
		}

		.friend-menu-header {
			cursor: pointer;
			text-transform: uppercase;
			color: rgba($body-color, 0.3);
			font-size: 0.87rem;
			letter-spacing: 0.04rem;
			transition: color 0.2s linear;
			line-height: 30px;
			position: relative;
			display: flex;
			margin: 20px 10px 0px 10px;

			&:hover,
			&:focus {
				color: $body-color;

				&::after {
					opacity: 1;
				}
			}
		}

		.friend-menu-conversation {
			margin-top: 10px;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			overflow: hidden;
			cursor: pointer;
			position: relative;
			max-width: 224px;
			display: block;
			border-radius: 4px;
			-webkit-transition: none;
			transition: none;

			.friend-conversation-item {
				-webkit-box-shadow: none;
				box-shadow: none;
				border-radius: 4px;
				border-color: transparent;
				margin: 1px 0 1px 0;

				&:hover {
					background-color: #3d3f44;
					border-radius: 4px;
				}
			}
		}
	}
}
