@import "../App.scss";

.channel-container {
	background: $channels-bg;
	display: flex;
	flex-direction: column;
	flex: 0 0 240px;

	.channel-header {
		cursor: pointer;
		display: flex;
		align-items: center;
		flex: 0 0 56px;
		padding: 0 20px 0 20px;
		box-shadow: 0 1px 0 darken($channels-bg, 4.1%),
			inset 0 -1px 0 rgba(#000, 0.1);
		transition: background 0.15s ease;

		.channel-header-dropdown {
			width: 18px;
			height: 18px;
			margin-left: auto;

			// use {
			// 	stroke-dasharray: 7;
			// 	transform-origin: 50%;
			// 	transition: stroke-dasharray 0.2s ease, transform 0.2s ease;
			// }
		}

		&:hover,
		&:focus {
			background: lighten($channels-bg, 2.5%);
		}

		// &:focus use {
		// 	stroke-dasharray: 14;
		// 	transform: rotate(-90deg);
		// }

		.channel-header-name {
			font-size: 1rem;
			font-weight: 500;
		}
	}

	.channel-list-container {
		flex: 1 1;
		overflow-y: auto;
		padding: 0 20px;

		ul {
			list-style: none;
		}

		.channel-list-header {
			cursor: pointer;
			margin-top: 20px;
			text-transform: uppercase;
			color: rgba($body-color, 0.3);
			font-size: 0.87rem;
			letter-spacing: 0.04rem;
			transition: color 0.2s linear;
			line-height: 30px;
			position: relative;

			&:hover,
			&:focus {
				color: $body-color;

				&::after {
					opacity: 1;
				}
			}
		}

		.channel-list-text,
		.channel-list-voice {
			margin: 0 -20px 0 -20px;
		}

		.channel-header-name {
			font-size: 0.75rem;
			font-weight: 500;
		}

		.channel {
			cursor: pointer;
			display: flex;
			align-items: center;
			padding: 8px 20px 10px 20px;
			opacity: 0.3;
			width: 100%;

			.button {
				display: none;
				opacity: 0.8;

				&:hover,
				&:focus {
					opacity: 1;
				}
			}

			&.active,
			&:hover,
			&:focus {
				opacity: 1;

				.button {
					display: block;
				}
			}

			.channel-name {
				font-size: 0.9rem;
				font-weight: 300;
			}

			.button:first-of-type {
				margin-left: auto;
				margin-right: 8px;
			}

			.button {
				width: 16px;
				height: 16px;
			}
		}

		.channel-text {
			position: relative;

			&.active,
			&:hover,
			&:focus {
				background: linear-gradient(to right, #282b30 85%, #2e3136);

				&::before {
					content: " ";
					width: 2px;
					height: 100%;
					position: absolute;
					left: 0;
					background: #7289da;
				}
			}

			&:not(.active) {
				&:focus::before,
				&:hover::before {
					opacity: 0.25;
				}
			}

			.channel-name {
				@extend .hash-before;
				&::before {
					font-weight: 400 !important;
				}
			}
		}
	}

	.channel-footer-container {
		display: flex;
		align-items: center;
		margin-top: auto;
		background: #232428;
		padding: 0 8px;
		font-size: 14px;
		height: 52px;
		-webkit-box-align: center;
		margin-bottom: 1px;

		.channel-footer-profile {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-left: -2px;
			min-width: 120px;
			padding-left: 2px;
			margin-right: 8px;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background: lighten(#232428, 2.5%);
			}

			.channels-footer-details {
				padding-bottom: 4px;
				padding-left: 8px;
				padding-top: 4px;
				-webkit-user-select: text;
				-moz-user-select: text;
				-ms-user-select: text;
				user-select: text;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				margin-right: 4px;
				min-width: 0;
			}
		}

		.channel-footer-controls {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			flex: 0 1 auto;

			.channels-footer-button {
				padding: 0 2px 0 2px;
			}
		}
	}
}

.hash-before::before {
	content: "#";
	margin-right: 10px;
	font-weight: 300;
	color: #8a8e94;
}

.user-detail-paper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	border-radius: 8px 8px 0 0;

	.user-detail-top {
		.user-detail-banner {
			min-width: 340px;
			min-height: 60px;
			height: 60px;
			width: 100%;

			mask {
				rect {
					fill: white;
					x: 0;
					y: 0;
					width: 100%;
					height: 100%;
				}

				circle {
					fill: black;
					cx: 62;
					cy: 56;
					r: 46;
				}
			}

			foreignObject {
				x: 0;
				y: 0;
				width: 100%;
				height: 100%;
				mask: url(#uid_347);
				overflow: visible;
				display: block;

				:not(svg) {
					transform-origin: 0px 0px;
				}
			}
		}
		.user-detail-avatar {
			position: absolute;
			z-index: 0;
			left: 22px;
			top: 16px;
			cursor: pointer;
		}
	}

	.user-detail-list {
		position: relative;
		border-radius: 8px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		overflow: hidden;
		margin: 48px 16px 16px 16px;
		padding: 4px 0 4px 0;
		max-height: calc(100vh - 128px);
	}
}
