.friend-list-container {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
	cursor: pointer;
	
	.friend-list-item {
		opacity: 1;
		
		.friend-list-item-button {
			// background: #3d3f44;
			-webkit-box-shadow: none;
			box-shadow: none;
			border-radius: 8px;
			border-color: transparent;

			&:hover {
				background-color: #3d3f44;
				border-radius: 8px;
			}
		}
	}
}
